$color--workforce: #F18965;
$color--tracker: #39C3D9;
$color--explorer: #85CA85;
$color--klask: #A575D7;
$color--yellow: #CAC785;
$color--white: #FFFFFF;

$color--high-emphasis: rgba(255, 255, 255, .87);
$color--medium-emphasis: rgba(255, 255, 255, .6);
$color--low-emphasis: rgba(255, 255, 255, 0.2);

$color--text-on-base: rgba(0, 0, 0, .7);

$color--background: rgb(5, 5, 5);
$color--surface: rgba(255, 255, 255, .08);